html {
    scroll-behavior: smooth;
  }


::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.parent{
    color: white;
    /* background-color: rgb(239, 68, 68); */
    background-color: #EA1523;
    width: 100%;
}

.hero{
    height: 80vh;
    /* background-color: rgb(239, 68, 68); */
    background-color: #EA1523;

}

.btn2{
    background-color: orange;
    transition: .3s linear;
    color: white;
}

.btn2:hover{
     background-color: red;
     box-shadow:2px 10px 50px 10px orange;
}

#font, #font2{
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
}

#font3{
    font-family: 'Fuzzy Bubbles', cursive;
    color: white;
    /* font-size: 26px; */
}

/* .navbar{
   
}

header{
    width: 100%;
    position: sticky
} */

header{
    position: sticky;
    top: 0;
    z-index: 10000;
}

#nav{
    cursor: pointer;
    transition: .3s linear;
    font-family: 'Roboto', sans-serif;
    
}

#nav:hover{
    scale: 1.2;
    transform: translateY(-5px);
}

#heading{
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    color: #EA1523;
}

#para{
    font-family: 'Fuzzy Bubbles', cursive;
    color: #EA1523;
}

.gallery{
    background-color: white;
}
p{
    margin-left: 15px;
}

.list{
    color: #EA1523;
}

.links{
    color: blueviolet;
}

.links:hover{
    text-decoration:underline;
}

.steps{
    background-color: #EA1523;
}

.orange{
    background-color: orange;
}

.arrow{
    font-size:xx-large ;
}

.add-menu{
    /* background-color: black; */
    border: 1px solid black;
    border-radius: 30px;
    height: 30px;
    width: 90px;
    text-align: center;
    float: right;
    cursor: pointer;
    background-color: orange;
    color: white;
    transition: .3s linear;
}

.add-menu:hover{
    background-color: red;
     box-shadow:2px 10px 50px 10px orange;
}

#plus{
    display: none;
}

#minus{
    display: none;
}

.active{
    display: block;
}

#qty{
    width: 90px;
    height: 30px;
    color: #EA1523;
    margin-left: -5px;
    border: 1px solid orange;
    border-radius: 30px;
    text-align: center;
    /* display: block; */
}

.div-qty{
    /* background-color: black; */
    /* border: 1px solid black; */
    border-radius: 30px;
    height: 30px;
    width: 90px;
    text-align: center;
    float: right;
    cursor: pointer;
    /* background-color: orange; */
    color: #EA1523;
    transition: .3s linear;
}

.footer{
    background-color: #EA1523;
    color: white;
}



.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}